node_modules/
public/storage/
storage/*.key
vendor/
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
docker-compose.yml
docker-compose.yaml
.idea
**.git
**.gitignore
**.gitattributes
**.sass-cache
