$theme-colors: (
  "primary": #1a5a96
);
@import 'node_modules/admin-lte/build/scss/adminlte.scss';
@import 'custom-switch';
.tooltip-dropdown {
  .dropdown-toggle::after {
    margin-top: 0.55em;
    float: right;
  }
}