// Fonts
@import "@bcgov/bc-sans/css/BCSans.css";

// Variables
@import 'variables';

@import 'node_modules/admin-lte/build/scss/adminlte.scss';


@import 'custom-switch';
.tooltip-dropdown {
  .dropdown-toggle::after {
    margin-top: 0.55em;
    float: right;
  }
}

// Custom siderbar color 
.sidebar-dark-primary .nav-sidebar > .nav-item > .nav-link.active,
.sidebar-light-primary .nav-sidebar > .nav-item > .nav-link.active {
  background-color: #FCBA19 !important;
}

// Custom the card heading on the goal page
.card-primary:not(.card-outline) > .card-header {
  background-color: #6685A3 !important;
}

.card-primary:not(.card-outline) > .card-header .btn-primary {
  background-color: #6685A3 !important;
  border-color: #6685A3 !important;
}

// Login page
.login-page, .register-page {
  background-color: #1a5a96 !important;
}

// logo size
.brand-link 
{
  height: 110px !important;
}

.brand-link .brand-image {
  margin-left: 0.2rem   !important;
  max-height: 90px      !important;
}

.brand-link .brand-image-xs
{
  max-height: 100px    !important;
}

// Sidebar color when hover and active
.nav-sidebar .nav-link:hover {
  color: #003366 !important;
   font-weight: bold;
}

.sidebar-dark-primary .nav-sidebar > .nav-item > .nav-link.active, .sidebar-light-primary .nav-sidebar > .nav-item > .nav-link.active {
   color: #003366 !important;
   font-weight: bold;
}





// Tab for difference links 
a.btn:not(.btn-primary, .btn-secondary, .btn-success, .btn-danger, .btn-warning, .btn-info, .btn-light, .btn-dark, .btn-link ), 
a.btn:not(.btn-primary, .btn-secondary, .btn-success, .btn-danger, .btn-warning, .btn-info, .btn-light, .btn-dark, .btn-link ):hover,
a.btn:not(.btn-primary, .btn-secondary, .btn-success, .btn-danger, .btn-warning, .btn-info, .btn-light, .btn-dark, .btn-link ):active,
a.btn:not(.btn-primary, .btn-secondary, .btn-success, .btn-danger, .btn-warning, .btn-info, .btn-light, .btn-dark, .btn-link ):visited 
{
  color: #003366 !important;
}

a.btn:not(.btn-primary, .btn-secondary, .btn-success, .btn-danger, .btn-warning, .btn-info, .btn-light, .btn-dark, .btn-link ):hover,
a.btn:not(.btn-primary, .btn-secondary, .btn-success, .btn-danger, .btn-warning, .btn-info, .btn-light, .btn-dark, .btn-link ):active,
a.btn:not(.btn-primary, .btn-secondary, .btn-success, .btn-danger, .btn-warning, .btn-info, .btn-light, .btn-dark, .btn-link ):visited 
{
  font-weight:bold !important;
}

div.border-primary a {
  font-weight:bold !important;
}